.main-Rest{
  display: flex;
  flex-wrap: wrap;
}

.restaurant{
  margin-top: 20px;
  width: 300px;
  height: 400px;
  background-color: #f0f0f0;
}

.restaurant :hover{
  cursor: pointer;
  border:1px solid black;
}

.main-div-header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo{
  margin-left: 15px;
  margin-top: 15px;
  font-size: 25px;
}
.navbar >ul{
  display: flex;
  margin-right: 10px;
}
.navbar >ul >li{
  list-style: none;
  margin-right: 10px;
  font-size: 25px;
  text-decoration: underline;
 
}
.navbar{
  display: flex;
}
.menu-card{
  border: 1px solid black;
  background-color: #f0f0f0;
}

.menu-card-cont{
  display: flex;
  flex-wrap: wrap;
}